ESTOQUE/*.DBF
ESTOQUE/*.NTX
ESTOQUE/*.MEM
ESTOQUE/*.BAT
ESTOQUE/*.OVL
ESTOQUE/*.exe
ESTOQUE/*.ICO
ESTOQUE/*.txt
ESTOQUE/*/*.rar
ESTOQUE/*.dat
ESTOQUE/*.asc

ESTOQUE/*.ARJ
ESTOQUE/*.ARQ
ESTOQUE/*.DBT
ESTOQUE/*.*00
